In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
import pandas as pd
from sportsreference.nba.teams import Teams
teams = Teams("2020")

stats_19_20 = teams.dataframes

stats_19_20.head()

,abbreviation,assists,blocks,defensive_rebounds,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempts,free_throw_percentage,free_throws,...,rank,steals,three_point_field_goal_attempts,three_point_field_goal_percentage,three_point_field_goals,total_rebounds,turnovers,two_point_field_goal_attempts,two_point_field_goal_percentage,two_point_field_goals
DAL,DAL,1640,334,2438,6027,0.462,2787,1548,0.773,1196,...,1,419,2779,0.369,1026,3150,857,3248,0.542,1761
MIL,MIL,1685,390,2745,5928,0.477,2830,1562,0.742,1159,...,2,480,2510,0.356,893,3362,969,3418,0.567,1937
HOU,HOU,1375,329,2212,5803,0.454,2632,1664,0.787,1310,...,3,541,2832,0.348,986,2875,939,2971,0.554,1646
POR,POR,1333,411,2335,5998,0.461,2763,1434,0.798,1145,...,4,401,2228,0.372,829,3001,858,3770,0.513,1934
ATL,ATL,1605,341,2237,6067,0.449,2723,1566,0.790,1237,...,5,523,2416,0.333,805,2898,1086,3651,0.525,1918

In [3]:
teams = Teams("2019")

stats_18_19 = teams.dataframes

stats_18_19.head()

,abbreviation,assists,blocks,defensive_rebounds,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempts,free_throw_percentage,free_throws,...,rank,steals,three_point_field_goal_attempts,three_point_field_goal_percentage,three_point_field_goals,total_rebounds,turnovers,two_point_field_goal_attempts,two_point_field_goal_percentage,two_point_field_goals
MIL,MIL,2136,486,3316,7471,0.476,3555,1904,0.773,1471,...,1,615,3134,0.353,1105,4078,1137,4337,0.565,2450
GSW,GSW,2413,525,2990,7361,0.491,3612,1672,0.801,1339,...,2,625,2824,0.385,1087,3787,1169,4537,0.557,2525
NOP,NOP,2216,441,2969,7563,0.473,3581,1921,0.761,1462,...,3,610,2449,0.344,842,3878,1215,5114,0.536,2739
PHI,PHI,2207,432,3025,7233,0.471,3407,2258,0.771,1742,...,4,606,2474,0.359,889,3917,1223,4759,0.529,2518
LAC,LAC,1970,385,2936,7178,0.471,3384,2340,0.792,1853,...,5,561,2118,0.388,821,3732,1193,5060,0.507,2563

In [4]:
stats_17_18 = Teams("2018").dataframes

stats_17_18.head()

,abbreviation,assists,blocks,defensive_rebounds,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempts,free_throw_percentage,free_throws,...,rank,steals,three_point_field_goal_attempts,three_point_field_goal_percentage,three_point_field_goals,total_rebounds,turnovers,two_point_field_goal_attempts,two_point_field_goal_percentage,two_point_field_goals
GSW,GSW,2402,612,2877,6981,0.503,3509,1668,0.815,1360,...,1,656,2370,0.391,926,3568,1267,4611,0.560,2583
HOU,HOU,1767,392,2825,6906,0.460,3174,2061,0.781,1609,...,2,699,3470,0.362,1256,3564,1135,3436,0.558,1918
NOP,NOP,2195,485,2924,7241,0.483,3500,1716,0.772,1324,...,3,657,2312,0.362,837,3636,1223,4929,0.540,2663
TOR,TOR,1995,500,2807,7169,0.472,3383,1790,0.794,1422,...,4,626,2705,0.358,968,3607,1095,4464,0.541,2415
CLE,CLE,1916,312,2761,6950,0.476,3311,1909,0.779,1488,...,5,582,2636,0.372,981,3455,1126,4314,0.540,2330

In [12]:
wins_17_18 = pd.read_csv('../Data/team_wins_17_18.csv')  
wins_17_18.head()

  abbreviation   W
0          TOR  59
1          BOS  55
2          PHI  52
3          CLE  50
4          IND  48

In [10]:
wins_18_19 = pd.read_csv('../Data/team_wins_18_19.csv')  
wins_18_19.head()

  abbreviation   W
0          MIL  60
1          TOR  58
2          PHI  51
3          BOS  49
4          IND  48

In [11]:
wins_19_20 = pd.read_csv('../Data/team_wins_19_20.csv')  
wins_19_20.head()

  abbreviation   W
0          MIL  53
1          TOR  46
2          BOS  43
3          MIA  41
4          IND  39

In [ ]:
stats_19_20 = stats_19_20.merge(wins_19_20, left_on='abbreviation', right_on='abbreviation')
stats_19_20 = stats_19_20.assign(Season=['2019-2020'] * 30)
stats_19_20.head()

In [ ]:
stats_18_19 = stats_18_19.merge(wins_18_19, left_on='abbreviation', right_on='abbreviation')
stats_18_19 = stats_18_19.assign(Season=['2018-2019'] * 30)
stats_18_19.head()

In [ ]:
stats_17_18 = stats_17_18.merge(wins_17_18, left_on='abbreviation', right_on='abbreviation')
stats_17_18 = stats_17_18.assign(Season=['2017-2018'] * 30)
stats_17_18.head()

In [6]:
all_df = [stats_17_18, stats_18_19, stats_19_20]

all_df = pd.concat(all_df).reset_index(drop=True)

all_df.head()

,abbreviation,assists,blocks,defensive_rebounds,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempts,free_throw_percentage,free_throws,...,rank,steals,three_point_field_goal_attempts,three_point_field_goal_percentage,three_point_field_goals,total_rebounds,turnovers,two_point_field_goal_attempts,two_point_field_goal_percentage,two_point_field_goals
0,GSW,2402,612,2877,6981,0.503,3509,1668,0.815,1360,...,1,656,2370,0.391,926,3568,1267,4611,0.560,2583
1,HOU,1767,392,2825,6906,0.460,3174,2061,0.781,1609,...,2,699,3470,0.362,1256,3564,1135,3436,0.558,1918
2,NOP,2195,485,2924,7241,0.483,3500,1716,0.772,1324,...,3,657,2312,0.362,837,3636,1223,4929,0.540,2663
3,TOR,1995,500,2807,7169,0.472,3383,1790,0.794,1422,...,4,626,2705,0.358,968,3607,1095,4464,0.541,2415
4,CLE,1916,312,2761,6950,0.476,3311,1909,0.779,1488,...,5,582,2636,0.372,981,3455,1126,4314,0.540,2330

In [ ]:
# Assign the data to X and y

X = all_df[["abbreviation","Season","assists", 'defensive_rebounds','field_goal_percentage','field_goals','opp_assists',
                        'opp_blocks','opp_defensive_rebounds', 'opp_field_goal_percentage','opp_points',
                        'opp_three_point_field_goal_percentage','opp_total_rebounds','opp_two_point_field_goal_percentage',
                        'points', 'three_point_field_goal_percentage', 'total_rebounds','two_point_field_goal_percentage']].set_index(['abbreviation', 'Season'])
y = all_df["W"].values.reshape(-1, 1)
print(X.shape, y.shape)

In [ ]:
# Use train_test_split to create training and testing data

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
X_test

In [ ]:
# Create a LinearRegression model and fit it to the scaled training data

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train, y_train)

predictions = model.predict(X_test)
predictions = predictions.flatten()


MSE = mean_squared_error(y_test, predictions)
r2 = model.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")


lin_reg = pd.DataFrame({"Prediction": np.round(predictions , 2), "Actual": y_test.ravel()})

X_test.reset_index(inplace = True)

df_out = pd.merge(X_test, lin_reg, how = 'left',left_index = True, right_index = True)

df_out = df_out.loc[:,['Season', 'abbreviation', 'Prediction', 'Actual']]
df_out

In [ ]:
# Make predictions using a fitted model
# Plot the difference between the model predicted values and actual y values, versus the model predicted values
predictions = model.predict(X_test)
model.fit(X_train, y_train)
plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="2017-2020 Training Data")
plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="2017-2020 Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y_test.min(), xmax=y_test.max())
plt.title("Residual Plot")
plt.show()

In [ ]:
# LASSO model

from sklearn.linear_model import Lasso

lasso = Lasso(alpha=.01).fit(X_train, y_train)

predictions = lasso.predict(X_test)

MSE = mean_squared_error(y_test, predictions)
r2 = lasso.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

pd.DataFrame({"Prediction": np.round(predictions , 2), "Actual": y_test.ravel()}).reset_index(drop=True).head()

In [ ]:
# Ridge model

from sklearn.linear_model import Ridge

ridge = Ridge(alpha=.01).fit(X_train, y_train)

predictions = ridge.predict(X_test)
predictions = predictions.flatten()

y_test = y_test.flatten()

MSE = mean_squared_error(y_test, predictions)
r2 = ridge.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

pd.DataFrame({"Prediction": np.round(predictions , 2), "Actual": y_test}).reset_index(drop=True).head()

In [ ]:
# ElasticNet model

from sklearn.linear_model import ElasticNet

elasticnet = ElasticNet(alpha=.01).fit(X_train, y_train)

predictions = elasticnet.predict(X_test)

MSE = mean_squared_error(y_test, predictions)
r2 = elasticnet.score(X_test, y_test)

print(f"MSE: {MSE}, R2: {r2}")

pd.DataFrame({"Prediction": np.round(predictions , 2), "Actual": y_test.ravel()}).reset_index(drop=True).head()